# Python virtual environments
env/

# Python cache files
__pycache__/
*.py[cod]
*$py.class
aima/__pycache__/
tests/__pycache__/

# Jupyter Notebook
.ipynb_checkpoints
aima/notebooks/

# Media files
media/sokoban.webm

# Logs
*.log
